body{
    margin: 0;
    padding: 0;
    background-color: #84E1AD;
}
/*Cabeçalho*/
#logo{
    text-align: center;
    background: -moz-linear-gradient(to bottom #3BD27F, #35BF73,#31AD68,#32B16A, #2C9D5E,#268751,#1D673D,#1A5C38 );
}